<form method="post" class="float-right" action="{{ path('page_delete', {'id': page.id}) }}" onsubmit="return confirm('Ar tikrai norite pašalinti pasirinktą puslapį?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
    <button class="editbutton"><i class="fas fa-trash-alt"></i></button>
</form>
