{{ form_start(form) }}
    {{ form_row(form.pavadinimas, { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.nuotrauka, { 'attr' : { 'class': 'form-control' } }) }}

    {{ form_row(form.turinys) }}

    {{ form_label(form.department, 'Įmonė') }}
    {{ form_widget(form.department, { 'attr' : { 'class': 'form-control' } }) }}

    <button class="abutton">{{ button_label|default('Sukurti') }}</button>
{{ form_end(form) }}


