{% extends 'nav.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Redaguoti puslapį</h1>

            {{ include('page/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

            <a class="abutton" href="{{ path('page_index') }}">Grįžti į puslapių sąrašą</a>

            {{ include('page/_delete_form.html.twig') }}
    </div>
{% endblock %}
