{% extends 'nav.html.twig' %}

{# {% block submenu_pages %}
    {% set break = false %}
    {% for role in app.user.getRoles %}
        {% if not break %}
            {% if role == 'ROLE_CONTENT' %}
                {% for page in pages %}                    
                        <li>
                            <div style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; height:50px; vertical-align: text-top;">
                            <a style="line-height: 2.35;" href="{{ path('page_show', {'id': page.id}) }}">{{ page.pavadinimas }}</a>
                            </div>
                        </li>                    
                {% endfor %}
                {% set break = true %}
            {% elseif role == 'ROLE_USER' %}
                {% for page in pages %}
                    {% if page.department == app.user.department %}
                        <li style="text-overflow:ellipsis;"><a href="{{ path('page_show', {'id': page.id}) }}">{{ page.pavadinimas }}</a></li>
                    {% endif %}
                {% endfor %}
                {% set break = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %} #}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">PUSLAPIAI</h1>

            {% set darbuotojo_role = '' %}
            {% set break = false %}
            {% for role in app.user.getRoles %}
                {% if not break %}
                    {% if role == 'ROLE_CONTENT' %}
                        <div class="w3-container centered">
                            <a class="abutton" href="{{ path('page_new') }}">Pridėti naują puslapį</a>
                        </div>
                        {% set darbuotojo_role = 'ROLE_CONTENT' %}
                        {% set break = true %}
                    {% elseif role == 'ROLE_USER' %}
                        {% set darbuotojo_role = 'ROLE_USER' %}
                        {% set break = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for message in app.flashes('page_added') %}
                <div class="alert alert-info alert-dismissible fade show" style="margin:10px 45px; padding: 10px 45px 10px 10px;" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('page_deleted') %}
                <div class="alert alert-info alert-dismissible fade show" style="margin:10px 45px; padding: 10px 45px 10px 10px;" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% if darbuotojo_role == 'ROLE_USER' %}
                {% set rado = false %}
                {% for page in pages %}
                    {% if page.department == app.user.department or page.department == "Įmonių grupė" %}
                        <div class="w3-quarter w3-container page-card" style="height:170px;">
                            <h5>{{ page.pavadinimas }}</h5>
                            <h6>Įmonė: {{ page.department }}</h6>
                            <h6>{{ page.data ? page.data|date('Y-m-d') : '' }}</h6>
                            <a class="editbutton" href="{{ path('page_show', {'id': page.id}) }}">Peržiūrėti</a>         
                        </div> 
                        {% set rado = true %}                   
                    {% endif %}
                {% else %}
                    <h4 class="centered">Nėra egzistuojančių puslapių</h4>
                {% endfor %}

                {% if rado == false %}
                    <h4 class="centered">Nėra rodomų puslapių</h4>
                {% endif %}


            
            {% elseif darbuotojo_role == 'ROLE_CONTENT' %}

                {% set previous = pages[0] %}
                <h2>{{ previous.department }}</h2>

                {% for page in pages %}

                    {% if page.department != previous.department %}
                        <div style="display:block; width: 100%; float:left;"><hr><h2>{{ page.department }}</h2></div>
                    {% endif %}

                    <div class="w3-quarter w3-container page-card" style="height:170px;">
                        <h5>{{ page.pavadinimas }}</h5>
                        <h6>Įmonė: {{ page.department }}</h6>
                        <h6>{{ page.data ? page.data|date('Y-m-d') : '' }}</h6>
                        <a class="read-more-button" href="{{ path('page_show', {'id': page.id}) }}">Peržiūrėti</a>
                       
                        {{ include('page/_delete_form.html.twig') }} 
                        {% for role in app.user.getRoles %}
                            {% if role == 'ROLE_CONTENT' %}
                                <a class="abutton float-right" href="{{ path('page_edit', {'id': page.id}) }}"><i class="fas fa-cog"></i></a> 
                            {% endif %}
                        {% endfor %}                                    
                    </div> 
                    {% set previous = page %}
                {% else %}
                    <h4 class="centered">Nėra egzistuojančių puslapių</h4>
                {% endfor %}
            {% endif %}
            
        </div>
    </div>
{% endblock %}