{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Sukurti puslapį</h1>

            {{ include('page/_form.html.twig') }}

            <a class="abutton" href="{{ path('page_index') }}">Grįžti į puslapių sąrašą</a>
        </div>
    </div>
{% endblock %}
