{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent page">

            {% for message in app.flashes('page_edit') %}
                <div class="alert alert-info alert-dismissible fade show" style="margin-top:10px;" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        
            <h1 class="centered">{{ page.pavadinimas }}</h1>

            <div class="centered">
                {{ page.data ? page.data|date('Y-m-d') : '' }}
            </div>

            <div>
                {{ page.turinys|raw }}
            <div>

            {% if page.nuotrauka != '' %}
            <div class="centered page-photo">
                <img src="{{ asset( 'pages_photos/' ~ page.nuotrauka) }}">
            </div>
            {% endif %} 
            
            {% set break = false %}
            {% set user_role = '' %}
            {% for role in app.user.roles %}
                {% if not break %}
                    {% if role == 'ROLE_CONTENT' %}
                        {% set user_role = 'ROLE_CONTENT' %}
                        {% set break = true %}
                    {% endif %}                    
                {% endif %}
            {% endfor %}

            <a class="abutton" href="{{ path('page_index') }}">Į puslapių sąrašą</a>

            {% if user_role == 'ROLE_CONTENT' %}
                <a class="abutton-tight float-right" href="{{ path('page_edit', {'id': page.id}) }}"><i class="fas fa-cog"></i></a>
                {{ include('page/_delete_form.html.twig') }}
            {% endif %}

        </div>
    </div>
{% endblock %}
