<form class="float-left" method="post" action="{{ path('inventory_delete', {'id': inventory.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti pasirinktą inventorių?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory.id) }}">
    <button class="editbutton">Ištrinti</button>
</form>
