{{ form_start(form) }}

    {{ form_row(form.kodas, { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.pavadinimas, { 'attr' : { 'class': 'form-control' } }) }}

    {{ form_label(form.aprasymas, 'Aprašymas') }}
    {{ form_widget(form.aprasymas, { 'attr' : { 'class': 'form-control' } }) }}

    {{ form_row(form.nuotrauka ) }}

    {{ form_row(form.unikalus_numeris, { 'value': unique_codes_string, 'placeholder': 'labas', } ) }}   

    <button class="abutton">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}
