{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content" style="overflow: auto; height: 100vh;">

        {% set break = false %}
        {% for role in app.user.getRoles %}
            {% if not break %}
                {% if role == 'ROLE_INVENTORY' %} {#jei uz inventoriu atsakingas asmuo(arba adminas) #}
                    <h1 class="centered">Turimas inventorius</h1>

                    {% for message in app.flashes('unique_code_added') %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %} 

                    {% for message in app.flashes('unique_code_successfully_deleted') %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %} 

                    {% for message in app.flashes('inventory_successfully_deleted') %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %} 

                    {% for message in app.flashes('users_inventory_added') %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %} 

                    {% for message in app.flashes('users_inventory_deleted') %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message|raw }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}     

                    {% for message in app.flashes('inventory_added') %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %} 



                    {% for message in app.flashes('unique_code_not_deleted') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <div>{{ message }}</div>     
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('inventory_cannot_be_deleted') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <div>{{ message }}</div>     
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('unique_codes_empty') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <div>{{ message }}</div>     
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('unique_code_not_added') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <div>{{ message }}</div>     
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    <table class="table" id="pagination_table">
                        <thead>
                            <tr>
                                <th class="centered">Nuotrauka</th>
                                <th>Kodas</th>
                                <th>Laisvi</th>  
                                <th>Priskirti</th>                               
                                <th>Pridėjimo data</th>
                                <th>Pavadinimas</th>
                                <th>Aprašymas</th>                    
                                <th>Kiekis</th>
                                <th>Veiksmai</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for inventory in inventories %}
                            <tr>
                                <td class="centered"> 
                                    {% if inventory.nuotrauka == '' %}
                                        <img src="{{ asset( 'photos/inventory/not-found-inventory-photo.png' ) }}" alt="{{ inventory.pavadinimas }}" height="100">
                                    {% else %}
                                        <img src="{{ asset( 'photos/inventory/' ~ inventory.nuotrauka) }}" alt="{{ inventory.pavadinimas }}" height="100">
                                    {% endif %}
                                </td>
                                <td>{{ inventory.kodas }}</td>
                                <td style="color: rgb(36, 139, 67);">
                                    {% for unique in inventory.uniqueNotAssignedCodes %}
                                        {{ unique }}<br>
                                    {% endfor %}                                
                                </td>
                                <td style="color: rgb(226, 111, 111);">
                                    {% for assign in inventory.uniqueAssignedCodes %}
                                        {{ assign }}<br>
                                    {% endfor %}
                                </td>
                                <td>{{ inventory.pridejimoData ? inventory.pridejimoData|date('Y-m-d') : '' }}</td>
                                <td>{{ inventory.pavadinimas }}</td>
                                <td>{{ inventory.aprasymas }}</td>                  
                                <td>{{ inventory.getUniqueCodes|length }}</td>
                                <td>
                                    {# <a class="abutton" href="{{ path('inventory_show', {'id': inventory.id}) }}">show</a> #}
                                    <a class="abutton float-left" href="{{ path('inventory_edit', {'id': inventory.id}) }}">Redaguoti</a>
                                    {{ include('inventory/_delete_form.html.twig') }}
                                </td>                              

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="abutton" href="{{ path('inventory_new') }}">Pridėti naują inventorių</a>
                    {{ include('users_inventory/index.html.twig') }}
                    {% set break = true %}                         
                {% elseif role != 'ROLE_INVENTORY' and role != 'ROLE_CONTENT' and role != 'ROLE_ADMIN' %} {#jei betkas kitas prisijunges #}
                    {{ include('users_inventory/index.html.twig') }}
                {% endif %}
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    function menuToggle(){
        const toggleMenu = document.querySelector('.account-menu');
        toggleMenu.classList.toggle('active'); //paspaudus pridedam/nuimam css klase active
    }
</script>
{# for paginationable tables with search #}
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#pagination_table').DataTable( 
            {
            "language": {
                "emptyTable": "Lentelėje nėra duomenų",
                "info": "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "infoEmpty": "Rodomi įrašai nuo 0 iki 0 iš 0",
                "infoFiltered": "(atrinkta iš _MAX_ įrašų)",
                "infoThousands": " ",
                "lengthMenu": "Rodyti _MENU_ įrašus",
                "loadingRecords": "Įkeliama...",
                "processing": "Apdorojama...",
                "search": "Ieškoti:",
                "thousands": " ",
                "zeroRecords": "Įrašų nerasta",
                "paginate": {
                    "first": "Pirmas",
                    "previous": "Ankstesnis",
                    "next": "Tolimesnis",
                    "last": "Paskutinis"
                },
                "searchPlaceholder": "Ieškoti"
            }
        }
        );
    } );
</script>

<script>
    $(document).ready(function() {
        $('#pagination_table2').DataTable( 
            {
            "language": {
                "emptyTable": "Lentelėje nėra duomenų",
                "info": "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "infoEmpty": "Rodomi įrašai nuo 0 iki 0 iš 0",
                "infoFiltered": "(atrinkta iš _MAX_ įrašų)",
                "infoThousands": " ",
                "lengthMenu": "Rodyti _MENU_ įrašus",
                "loadingRecords": "Įkeliama...",
                "processing": "Apdorojama...",
                "search": "Ieškoti:",
                "thousands": " ",
                "zeroRecords": "Įrašų nerasta",
                "paginate": {
                    "first": "Pirmas",
                    "previous": "Ankstesnis",
                    "next": "Tolimesnis",
                    "last": "Paskutinis"
                },
                "searchPlaceholder": "Ieškoti"
            }
        }
        );
    } );
</script>
{% endblock %}
