{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Pridėti naują inventorių</h1>

            {{ include('inventory/_form.html.twig') }}

            <a class="abutton" href="{{ path('inventory_index') }}">Peržiūrėti inventoriaus sąrašą</a>
        </div>
    </div>
{% endblock %}
