{% extends 'base.html.twig' %}

{% block title %}Inventory{% endblock %}

{% block body %}
    <h1>Inventory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventory.id }}</td>
            </tr>
            <tr>
                <th>Kodas</th>
                <td>{{ inventory.kodas }}</td>
            </tr>
            <tr>
                <th>PridejimoData</th>
                <td>{{ inventory.pridejimoData ? inventory.pridejimoData|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ inventory.pavadinimas }}</td>
            </tr>
            <tr>
                <th>Aprasymas</th>
                <td>{{ inventory.aprasymas }}</td>
            </tr>
            <tr>
                <th>Nuotrauka</th>
                <td>{{ inventory.nuotrauka }}</td>
            </tr>
            <tr>
                <th>Kiekis</th>
                <td>{{ inventory.kiekis }}</td>
            </tr>
            <tr>
                <th>Likutis</th>
                <td>{{ inventory.likutis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inventory_index') }}">back to list</a>

    <a href="{{ path('inventory_edit', {'id': inventory.id}) }}">edit</a>

    {{ include('inventory/_delete_form.html.twig') }}
{% endblock %}
