{% extends 'base.html.twig' %}

{% block body %}
<div class="login-box">
  <form method="post">
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
          <div class="mb-3 centered" style="color:rgb(226, 111, 111);">
              Jūs esate prisijungę kaip {{ app.user.username }}, <a href="{{ path('app_logout') }}">Atsijungti</a>
          </div>
      {% endif %}

      <h1 class="h3 mb-3 font-weight-normal centered" style="font-size: 1.5rem; color: rgb(29, 36, 52);">Prisijungimas prie<br> Dokumentų valdymo sistemos</h1>

      <div class="centered">
        <label for="inputUsername" >Prisijungimo vardas</label><br>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" style="max-width: 300px; display:inline-block; text-align:center; " required autofocus>
      </div>

      <div class="centered" style="padding: 10px;">
        <label for="inputPassword">Slaptažodis</label><br>
        <input type="password" name="password" id="inputPassword" class="form-control" style="max-width: 300px; display:inline-block; text-align:center" required>
      </div>
      
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

      {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
          See https://symfony.com/doc/current/security/remember_me.html #}

      <div class="checkbox mb-3 centered">
          <label>
              <input type="checkbox" name="_remember_me"> Atsiminti
          </label>
      </div>

      <div class="centered">
        <button class="btn btn-lg btn-primary abutton" style="font-size: 1.1rem;" type="submit">
            Prisijungti
        </button>
      </div>
  </form>
</div>

{# <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> #}

{% endblock %}
