<form method="post" action="{{ path('unique_code_delete', {'id': unique_code.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unique_code.id) }}">
    <button class="btn">Delete</button>
</form>
