{% extends 'base.html.twig' %}

{% block title %}Edit UniqueCode{% endblock %}

{% block body %}
    <h1>Edit UniqueCode</h1>

    {{ include('unique_code/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('unique_code_index') }}">back to list</a>

    {{ include('unique_code/_delete_form.html.twig') }}
{% endblock %}
