{% extends 'base.html.twig' %}

{% block title %}UniqueCode index{% endblock %}

{% block body %}
    <h1>UniqueCode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pavadinimas</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unique_code in unique_codes %}
            <tr>
                <td>{{ unique_code.id }}</td>
                <td>{{ unique_code.pavadinimas }}</td>
                <td>
                    <a href="{{ path('unique_code_show', {'id': unique_code.id}) }}">show</a>
                    <a href="{{ path('unique_code_edit', {'id': unique_code.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('unique_code_new') }}">Create new</a>
{% endblock %}
