{% extends 'base.html.twig' %}

{% block title %}New UniqueCode{% endblock %}

{% block body %}
    <h1>Create new UniqueCode</h1>

    {{ include('unique_code/_form.html.twig') }}

    <a href="{{ path('unique_code_index') }}">back to list</a>
{% endblock %}
