{% extends 'base.html.twig' %}

{% block title %}UniqueCode{% endblock %}

{% block body %}
    <h1>UniqueCode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unique_code.id }}</td>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ unique_code.pavadinimas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('unique_code_index') }}">back to list</a>

    <a href="{{ path('unique_code_edit', {'id': unique_code.id}) }}">edit</a>

    {{ include('unique_code/_delete_form.html.twig') }}
{% endblock %}
