{% extends 'base.html.twig' %}

{% block body %}
    {# {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %} #}

    <h1>Registracija</h1>
    <div class="alert alert-danger" role="alert">Danger Bootstrap</div>
    <div class="alert alert-success" role="alert">Success Bootstrap</div>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Prisijungimo vardas'
        }) }}

        {{ form_row(registrationForm.email, {
            label: 'El. pašto adresas'
        }) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Salptažodis'
        }) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-primary">Registruotis</button>
    {{ form_end(registrationForm) }}
{% endblock %}
