<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti komentarą?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="headerbutton"><i class="fas fa-trash-alt"></i></button>
</form>
