{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <h1>Rašyti komentarą</h1>

        {{ include('comment/_form.html.twig') }}

        <a class="abutton" href="{{ path('comment_index') }}">Peržiūrėti visus koemntarus</a>
        <a class="abutton" href="{{ path('news_index') }}">Grįžti į naujienų sąrašą</a>
    </div>
{% endblock %}  
