<li>
    <span class="caret">
    {% for departmentFolder in departmentFolders %}
        {% if departmentFolder.department == app.user.getDepartment or departmentFolder.department == "Įmonių grupė" %}
            {% if departmentFolder.id == key %}

                {% if departmentFolder.getChildren|length == 0 and departmentFolder.getFolderPosts|length == 0 %}
                    <span class="folder-title"><i class="far fa-folder"></i>{{ departmentFolder.pavadinimas }}</span>
                {% else %}
                    <span class="folder-title"><i class="fas fa-folder-open"></i>{{ departmentFolder.pavadinimas }}</span>
                {% endif %}
                {# <a class="add-folder" href="{{ path('department_folder_new_secondary', {'parent_id': departmentFolder.id}) }}"><i class="fas fa-folder-plus"></i></a> #}
                {# <a class="add-post" href="{{ path('postNew', {'parent_id': departmentFolder.id}) }}"><i class="fas fa-file-medical"></i></a>             #}
            {% endif %}
        {% endif %}
    {% endfor %}
    </span>

    {% if value != null %}
        <ul id="{{key}}" class="nested active">
            {% for key, value in value %}
                {% include 'knowledge/branch_user_role.html.twig' %}
            {% endfor %}

            {% for departmentFolder in departmentFolders %}
                {% if departmentFolder.department == app.user.getDepartment or departmentFolder.department == "Įmonių grupė" %}
                    {% if departmentFolder.id == key %}
                        
                        {% for post in departmentFolder.getFolderPosts %}
                            <li><span class="post-title"><i class="far fa-file-alt"></i><a href="{{ path('folder_post_show', {'id': post.id}) }}">{{ post.pavadinimas }}</a></span></li>
                        {% endfor %}
                        
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>

    {% else %}
        <ul id="{{key}}" class="nested active">
            {% for departmentFolder in departmentFolders %}
                {% if departmentFolder.department == app.user.getDepartment or departmentFolder.department == "Įmonių grupė" %}
                    {% if departmentFolder.id == key %}
                        
                        {% for post in departmentFolder.getFolderPosts %}
                            <li><span class="post-title"><i class="far fa-file-alt"></i><a href="{{ path('folder_post_show', {'id': post.id}) }}">{{ post.pavadinimas }}</a></span></li>
                        {% endfor %}
                        
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</li>