{% extends 'nav.html.twig' %}

{% block body %}
<div class="content">
    <div class="narrowContent">
        <h1 class="centered">DOKUMENTŲ BAZĖ</h1>

        {% for message in app.flashes('folder_added') %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% for message in app.flashes('folder_edited') %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% for message in app.flashes('folder_delete_success') %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% for message in app.flashes('post_added') %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% for message in app.flashes('post_deleted') %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}


        {% for message in app.flashes('folder_delete_failed') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div>{{ message|raw }}</div>     
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% set employee_role = '' %}
        {% set break = false %}
        {% for role in app.user.getRoles %}
            {% if not break %}
                {% if role == 'ROLE_CONTENT' %}
                    {% set employee_role = 'ROLE_CONTENT' %}
                    {% set break = true %}
                {% elseif role == 'ROLE_USER' %}   
                    {% set employee_role = 'ROLE_USER' %}
                    {% set break = true %}             
                {% endif %}
            {% endif %}
        {% endfor %}


        {# jei prisijungta kaip uz turini atsakingas darbuotojas arda administratorius #}
        {% if employee_role == 'ROLE_CONTENT' %}
            <ul id="myUL">
                {% for key, value in tree %}
                <li>
                    <span class="caret">
                        {% for department in departments %}
                            {% if department.id == key %}
                                <span class="department">{{ department.pavadinimas }}</span> 
                                <a class="add-folder" class="abutton" href="{{ path('department_folder_new_first', {'parent_id': department.id}) }}"><i class="fas fa-folder-plus"></i></a>
                            {% endif %}
                        {% endfor %}
                    </span>

                    <ul class="nested active">
                        {% for key, value in value %}
                            {% include 'knowledge/branch.html.twig' %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        {% endif %}


        {# jei prisijungta kaip paprastas darbuotojas #}
        {% if employee_role == 'ROLE_USER' %}
            <ul id="myUL">
                {% for key, value in tree %}
                <li>
                    <span class="caret">
                        {% for department in departments %}
                            {% if department == app.user.getDepartment or department.pavadinimas == "Įmonių grupė" %}
                                {% if department.id == key %}

                                    {% if department.pavadinimas != "Įmonių grupė" %}
                                        <br>
                                    {% endif %}
                                    <span class="department">{{ department.pavadinimas }}</span>       
                                                                  
                                {% endif %}
                            {% endif %}                            
                        {% endfor %}
                    </span>

                    <ul class="nested active">
                        {% for key, value in value %}
                            {% include 'knowledge/branch_user_role.html.twig' %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</div>


<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
    });
    }
</script>
{% endblock %}
