<form class="float-left" method="post" action="{{ path('users_inventory_delete', {'id': users_inventory.id}) }}" onsubmit="return confirm('Ar tikrai norite pašalinti inventoriaus priskyrimą darbuotojui?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ users_inventory.id) }}">
    <button class="editbutton" class="btn">Pašalinti</button>
</form>
