{{ form_start(form) }}

    {{ form_label(form.user, 'Darbuotojas') }}
    {{ form_widget(form.user, { 'attr' : { 'class': 'form-control' } }) }}

    {{ form_label(form.inventory, 'Inventorius') }}
    {{ form_widget(form.inventory, { 'attr' : { 'class': 'form-control' } }) }}
    
    {{ form_label(form.uniqueCode) }}
    {{ form_widget(form.uniqueCode) }}   

    
    <button class="abutton">{{ button_label|default('Priskirti') }}</button>
{{ form_end(form) }}
