{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Redaguoti inventoriaus priskyrimą darbuotojui</h1>

            {{ include('users_inventory/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

            <a class="abutton" href="{{ path('inventory_index') }}">Į inventorizacijos sistemą</a>
        </div>
    </div>
{% endblock %}
