  
    {% set break = false %}
    {% for role in app.user.getRoles %}
        {% if not break %}
            {% if role == 'ROLE_INVENTORY' %}
                
                <h1 class="centered">Inventoriaus priskyrimas</h1>
                <table class="table" id="pagination_table2">
                    <thead>
                        <tr>                
                            <th>Darbuotojas</th>
                            <th>Priskyrimo data</th>
                            <th>Inventorius</th>
                            <th>Bendras kodas</th>
                            <th>Unikalus kodas</th>
                            <th>Veiksmai</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for users_inventory in users_inventories %}            
                        <tr>                
                            <td><strong>{{ users_inventory.user }}</strong></td>
                            <td>{{ users_inventory.date ? users_inventory.date|date('Y-m-d') : '' }}</td>
                            <td>{{ users_inventory.inventory }}</td>
                            <td>{{ users_inventory.inventory.kodas }}</td>
                            <td>{{ users_inventory.uniqueCode }}</td>
                            <td>
                                {# {{ include('users_inventory/_delete_form.html.twig') }} #} {#nebenaudojamas, dabar istrinant sukuriami nauji logai#}
                                <a class="editbutton" href="{{ path('users_inventory_log_new', {'id': users_inventory.id}) }}" onclick="return confirm('Ar tikrai norite pašalinti pasirinktą inventoriaus priskyrimą?')">Pašalinti</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Nėra darbuotojams priskirto inventoriaus</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="abutton" href="{{ path('users_inventory_new') }}">Priskirti naują</a>       
                <a class="abutton" href="{{ path('users_inventory_log_index') }}">Išdavimų istorija</a>    

                {# Už inventoriu atsakingo darbuotojo inventorius #}
                <h1 class="centered">Mano inventorius</h1><br>
                <table class="table">

                    {% set break = false %}                    
                    {% for users_inventory in users_inventories %}
                        {% if not break %}
                            {% if users_inventory.user.username == app.user.username %}
                                {% set break = true %}
                            {% endif %}
                        {% endif %}                     
                    {% endfor %}
                    
                    {% if break == true %}
                        <thead>
                            <tr>                
                                <th>Darbuotojas</th>
                                <th>Priskyrimo data</th>
                                <th>Inventorius</th>
                                <th>Bendras kodas</th>
                                <th>Unikalus kodas</th>
                                <th>Veiksmai</th>
                            </tr>
                        </thead>
                    {% elseif break == false %}
                        <h3 class="centered" style="color:rgb(226, 111, 111)">Nėra priskirto inventoriaus</h3>
                    {% endif %}

                    
                    <tbody>
                    {% if users_inventories|length > 0 %}
                        {% set previous = users_inventories[0].user %}
                    {% endif %}
                    {% set border_style = 'border-top: thin solid rgb(29, 36, 52)' %} {#border-top: thin solid#}
                    {% for users_inventory in users_inventories %} 
                        {% if users_inventory.user == app.user %}           
                        <tr style="{{ border_style }}">                
                            <td>
                                {% if loop.index == 1 %}
                                    <strong>{{ users_inventory.user }}</h4strong> 
                                    {% set border_style = '' %}                       
                                {% endif %}
                                {% if users_inventory.user == previous and loop.index != 1 %}
                                    {% set border_style = '' %}
                                    <strong> </strong>
                                    {% if loop.index < users_inventories|length %} {# because loop.index starts from 1 #} 
                                        {% if users_inventory.user != users_inventories[loop.index].user %}
                                            {% set border_style = 'border-top: thin solid rgb(29, 36, 52)' %}
                                        {% else %}
                                            {% set border_style = '' %}
                                        {% endif %}
                                    {% endif %}
                                {% elseif users_inventory.user != previous and loop.index != 1 %}
                                    {% set border_style = '' %}
                                    <strong>{{ users_inventory.user }}</strong>
                                {% endif %}                
                                {% set previous = users_inventory.user %}
                            </td>
                            <td>{{ users_inventory.date ? users_inventory.date|date('Y-m-d') : '' }}</td>
                            <td>{{ users_inventory.inventory }}</td>
                            <td>{{ users_inventory.inventory.kodas }}</td>
                            <td>{{ users_inventory.uniqueCode}}</td>
                            <td>
                                <a class="abutton float-left" href="{{ path('users_inventory_show', {'id': users_inventory.id}) }}">Peržiūrėti</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                {% set break = true %}                         
            {% elseif role != 'ROLE_INVENTORY' and role != 'ROLE_CONTENT' and role != 'ROLE_ADMIN' %}
                
                <h1 class="centered">Darbuotojui, {{ app.user.firstName}} {{ app.user.lastName}}, priskirtas inventorius</h1><br>
                <table class="table">

                    {% set break = false %}                    
                    {% for users_inventory in users_inventories %}
                        {% if not break %}
                            {% if users_inventory.user.username == app.user.username %}
                                {% set break = true %}
                            {% endif %}
                        {% endif %}                     
                    {% endfor %}
                    
                    {% if break == true %}
                        <thead>
                            <tr>                
                                <th>Darbuotojas</th>
                                <th>Priskyrimo data</th>
                                <th>Inventorius</th>
                                <th>Bendras kodas</th>
                                <th>Unikalus kodas</th>
                                <th>Veiksmai</th>
                            </tr>
                        </thead>
                    {% elseif break == false %}
                        <h3 class="centered" style="color:rgb(226, 111, 111)">Nėra darbuotojui priskirto inventoriaus</h3>
                    {% endif %}

                    
                    <tbody>
                    {% if users_inventories|length > 0 %}
                        {% set previous = users_inventories[0].user %}
                    {% endif %}
                    {% set border_style = 'border-top: thin solid rgb(29, 36, 52)' %} {#border-top: thin solid#}
                    {% for users_inventory in users_inventories %} 
                        {% if users_inventory.user == app.user %}           
                        <tr style="{{ border_style }}">                
                            <td>
                                {% if loop.index == 1 %}
                                    <strong>{{ users_inventory.user }}</h4strong> 
                                    {% set border_style = '' %}                       
                                {% endif %}
                                {% if users_inventory.user == previous and loop.index != 1 %}
                                    {% set border_style = '' %}
                                    <strong> </strong>
                                    {% if loop.index < users_inventories|length %} {# because loop.index starts from 1 #} 
                                        {% if users_inventory.user != users_inventories[loop.index].user %}
                                            {% set border_style = 'border-top: thin solid rgb(29, 36, 52)' %}
                                        {% else %}
                                            {% set border_style = '' %}
                                        {% endif %}
                                    {% endif %}
                                    {# <h4>-</h4> #}
                                {% elseif users_inventory.user != previous and loop.index != 1 %}
                                    {% set border_style = '' %}
                                    <strong>{{ users_inventory.user }}</strong>
                                {% endif %}                
                                {% set previous = users_inventory.user %}
                            </td>
                            <td>{{ users_inventory.date ? users_inventory.date|date('Y-m-d') : '' }}</td>
                            <td>{{ users_inventory.inventory }}</td>
                            <td>{{ users_inventory.inventory.kodas }}</td>
                            <td>{{ users_inventory.uniqueCode}}</td>
                            <td>
                                <a class="abutton float-left" href="{{ path('users_inventory_show', {'id': users_inventory.id}) }}">Peržiūrėti</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                
                
            {% endif %}
        {% endif %}
    {% endfor %}  
    
    

