{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Naujas inventoriaus priskyrimas darbuotojui</h1>

            {{ include('users_inventory/_form.html.twig') }}

            <a class="abutton" href="{{ path('inventory_index') }}">Į inventorizacijos sistemą</a>
        </div>
    </div>
{% endblock %}
