{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="users-inventory-show">
            <h1 class="centered">{{ users_inventory.inventory }}</h1>

            <div class="centered">
                {% if users_inventory.inventory.nuotrauka == '' %}
                    <img src="{{ asset( 'photos/inventory/not-found-inventory-photo.png' ) }}" alt="{{ users_inventory.inventory.pavadinimas }}" height="100">
                {% else %}
                    <img src="{{ asset( 'photos/inventory/' ~ users_inventory.inventory.nuotrauka) }}" alt="{{ users_inventory.inventory.pavadinimas }}" height="100">
                {% endif %}
            </div>

            <div style="margin:0 50px;">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Bendras kodas</th>
                            <td>{{ users_inventory.inventory.kodas }}</td>
                        </tr>
                        <tr>
                            <th>Unikalus kodas</th>
                            <td>{{ users_inventory.uniqueCode }}</td>
                        </tr>
                        <tr>
                            <th>Priskirta darbuotojui</th>
                            <td>{{ users_inventory.user }}</td>
                        </tr>
                        <tr>
                            <th>Priskyrimo data</th>
                            <td>{{ users_inventory.date ? users_inventory.date|date('Y-m-d') : '' }}</td>
                        </tr>                                        
                    </tbody>
                </table>
            </div>

            {# <a href="{{ path('users_inventory_index') }}">back to list</a>

            <a href="{{ path('users_inventory_edit', {'id': users_inventory.id}) }}">edit</a>

            {{ include('users_inventory/_delete_form.html.twig') }} #}
        </div>
    </div>
{% endblock %}
