* {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: rgb(29, 36, 52);    
}

body {
    background-color: #f1f1f1;
}

/* The side navigation menu */
  .sidebar {
    top: 40px;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:  #c7c5c5;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sidebar ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  .sidebar ul li a {
    display: block;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.295);
    border-top: 1px solid rgba(136, 136, 136, 0.295);
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  .sidebar a:hover {
    background-color: rgb(36, 45, 66);
    color: white;
  }

  /* For pages menu dropdown */
  .sub-menu-pages ul {
    margin: 0 0 0 10px;
    border-left: 3px solid rgb(36, 45, 66);
    background-color:  #adacac;
  }
  .sub-menu-pages {
      display: none;
  }
  .sidebar ul li:hover .sub-menu-pages {
      display: block;
      position: absolute;
      width: 200px;
  }
  .fa-chevron-right {
      float: right;
      font-size: 0.95rem;
      padding-top: 3px;
  }

  .centered {
    text-align: center;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(187, 37, 37);
  }

  thead {
    background-color: rgb(164, 169, 199);   
  } 

  tbody{
    background-color: rgb(255, 255, 255);
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f4f8f8e1;
  }

  table{
    border: 4px solid rgb(128, 134, 187);
  }

  tr {
    border: 1px solid rgb(110, 112, 139);
  }

  .table th, td {
    text-align: center;
    /* padding: 8px; */
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  .content {
    margin-left: 200px;
    padding: 1px 16px;
    padding-top:40.8px;
    box-sizing: border-box;
    /* background-color: #f1f1f1; */
  }

  .form-control {
    border: 1px solid rgb(106, 161, 243);
  }

  a {
      text-decoration: none;
  }

  .header {
    background-color: rgb(29, 36, 52);
    padding: 5px;
    padding-left: 200px;
    text-align: center;
    font-size: 130%;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .logo{
    width:30px;
    height:30px;
    float: left;
    margin-left: 7px;
  }

  .searchbar{
    border: 1px solid gray;
    border-radius: 30px;
    background-color: white; 
    display: inline-block; 
    /*----div size of content*/
     padding: 0px 10px;
    align-items: center;
    justify-content: center;
  }

  .search-form {
    margin-left: 115px;
  }

  .inlineblock {
    display: inline-block;
  }

  /* mygtukas tik iconele, be remelio */
  .searchbar button, input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
   }

   /* searchbar inputas be remelio */
   .searchbar input[type="text"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
   }

    .headerbutton {
        float: right;
        border: none;
        background: none;
        cursor: pointer;
        outline: inherit;
    }

    .fa-user-circle {
        color: white;
    }

    .fa-sign-out-alt {
        color:rgb(226, 111, 111);
    }

    .fa-plus-circle {
      font-size: 30px;
      padding: 8px;
      color: rgb(74, 107, 168);
    }

.abutton {
    background-color: rgb(153, 175, 204);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 0.4% 0.7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding-left: 7px;
    padding-right: 7px;
    border: solid 2px rgba(29, 142, 218, 0.384);
}

.abutton-tight {
  background-color: rgb(153, 175, 204);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  /* padding: 0.4% 0.7%; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 2px rgba(29, 142, 218, 0.384);
}

.editbutton {
    background-color: rgb(226, 111, 111);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 0.4% 0.7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding-left: 7px;
    padding-right: 7px;
    border: solid 2px rgba(233, 68, 3, 0.384);
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height:200px;
    background-color:teal;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;     
     border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
     padding: 20px;
     margin: 0% 8% 2% 6%;
  }

  .card_unvisible {
    background-color: rgba(109, 109, 109, 0.479);     
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0% 8% 2% 6%;
 }

  .narrowContent {
    margin: 0% 8% 0% 6%;      
  }

  
  .float-right {
      float: right;
  }

  .float-left {
      float: left;
  }
  
  .page {
      background-color: rgb(235, 219, 219);
      /* height: 100vh; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 10px 20px;
  }
  .page h1 {
    font-weight: 700;
  }

  .page-card {
      background-color:  #e7e6e6;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 10px 4%;
      border-radius: 5px;
      min-width:250px;
  }

  /* User account dropdown */
  .account-dropdown {
    position: relative;
    top: 35px;
    right: 5px;
    margin-right: 8%;
  }

  .account-dropdown .account-photo {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .users-inventory-show .account-photo-profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;;
  }

  .users-inventory-show .account-photo-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .account-dropdown .account-menu .account-photo {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; 
    margin: auto; 
    /*----to align horizontally*/
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .account-dropdown .account-menu .account-photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .edit-account-photo {
    text-align: center;
  }

  .edit-account-photo a {
    width: 100%;
    text-align: center;
    font-size: 60%;
    font-weight: 700;
    color: rgb(226, 111, 111);
  }

  .account-dropdown .account-menu {
    /* position: absolute; */
    position: fixed;
    /* right: -10px; */
    right: 7.7%;
    padding: 10px 20px;
    background: rgb(216, 224, 253);;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 6px 20px 0 rgba(53, 53, 53, 0.19);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
  }

  .account-dropdown .account-menu.active {
    visibility: visible;
    opacity: 1;    
    /* position: absolute; */
    z-index: 1000;
  }

  .account-dropdown .account-menu::before {
    content: '';
    position: absolute;
    top: -2px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: rgb(216, 224, 253);
    transform: rotate(45deg);
  }

  

  .account-dropdown .account-menu h3 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(46, 57, 82); 
    line-height: 1.2em;
    margin-top: 0;
  }

  .account-dropdown .account-menu h3:first-letter {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: rgb(46, 57, 82); 
    line-height: 1.7em;
    text-transform: capitalize;
  }

  .account-dropdown .account-menu h3 .account-first-last-name {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
  }

  .account-dropdown .account-menu span {
    font-size: 15px;
    font-weight: 500;
    color: rgb(38, 44, 78); 
  }

  .account-dropdown .account-menu ul {
    padding: 0;
    margin-bottom: 0;
  }

  .account-dropdown .account-menu ul li {
    list-style: none; 
    padding: 10px 0;
    border-top: 1px solid rgba(0, 2, 17, 0.09);
    direction: flex;
    align-items: center;
  }

  .account-dropdown .account-menu ul li .account-icon {
    width: 30px;
    margin-left: 20px;
    opacity: 0.5;
    transition: 0.5s;
  }
  .account-dropdown .account-menu ul li:hover .account-icon {
    opacity: 1;
  }

  .account-dropdown .account-menu ul li a {
    display: inline-block;
    color: rgb(48, 70, 110);
    transition: 0.2s;
  }

  .account-dropdown .account-menu ul li:hover a {
    font-weight: 500;
  }

  /*** NEWS ***/
  .news-photo-wrap{
    height: 200px;
  }

  .news-photo-wrap img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .news-photo {
    height: 500px;
  }

  .news-photo img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .page-photo img {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  .fa-star {
    padding-top: 3px;
  }

  .fa-eye{
    padding-top: 4px;
    color: rgb(62, 109, 240);
  }

  .fa-eye-slash {
    padding-top: 4px;
    color: rgb(107, 107, 107);
  }

  .unvisible_text{
    background-color: rgba(243, 77, 105, 0.712);
    border: 1px solid rgb(214, 60, 60);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 0;
  }

  .unvisible_text h4{
    text-align: center;    
    margin-top: 0;
    color: whitesmoke;
  }

  .fa-arrow-down{
    padding:6px 8px 10px 10px;
    color: whitesmoke;
  }

  .news-content-wrap p{
    text-align: justify;
    height: 75px;
    overflow: hidden;
    margin: 0;
  }

  .news-content-all p{
    text-align: justify;
  }

  .card_unvisible .read-more-button {
    background-color: rgb(146, 114, 126);
    color: rgb(209, 209, 209);
  } 

  .read-more-button {
    background-color: rgb(228, 155, 183);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 0.4% 0.7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding-left: 7px;
    padding-right: 7px;
    border: solid 2px rgba(155, 9, 77, 0.308);
  }

  .read-more-button:hover {
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  /* Add new comment */

  .new-comment-box .comment-content textarea {
    width: 100%;
    border-radius: 5px;
  }


  /* News comments */
  .all-comments {
    background: rgb(245, 245, 245);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 4px 8px 0 rgba(53, 53, 53, 0.19);
  }

  .comment-box {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(41, 42, 51, 0.09);
  }

  .commentator-image {
    display: inline-block;
	  vertical-align: middle;
  }

  .commentator-image img {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgb(49, 50, 71);
    height: 50px;
    width: 50px;
    max-width: 70px;
  }

  .comment-info {
    display: inline-block;
		vertical-align: middle;
  }

  .comment-box span {
    font-size: 70%;
  }

  .comment-content {
    padding-top: 8px;
    text-align: justify;
  }

  .comment-delete {
    float: right;
  }

  /* --- Knowledge base --- */
  /*department*/
  span.department {
    color: rgb(221, 75, 75);
    font-weight: 700;
    font-size: 150%;
  }
  /*folder*/
  span.folder-title {
    color: rgb(48, 48, 161);
    font-weight: 700;
    font-size: 120%;
  }

  ul.department-folder {
    list-style: none;
  }

  .fa-folder, .fa-folder-open{
    padding-right: 5px;
    color: rgb(48, 48, 161);
  }
 
  span.post-title {
    color: rgb(18, 18, 78);
  }

  ul.folder-post {
    list-style: none;
  }

  .fa-file-alt {
    padding-right: 5px;
    color: rgb(18, 18, 78);
  }

  .fa-newspaper{
    color: rgb(18, 18, 78);
  }

  span.knowledge-not-found {
    font-size: 70%;
    color: rgb(46, 46, 46);
  }

.edit-folder {
  background-color: rgb(165, 164, 164);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding: 0.4% 0.7%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 1px 1px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 3px;;
}

.add-folder {
  background-color: rgb(165, 164, 164);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding: 0.4% 0.7%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 1px 1px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

.add-post {
  background-color: rgb(100, 100, 100);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding: 0.4% 0.7%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 1px 1px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding-left: 7px;
  padding-right: 7px;
}

.fa-folder-plus {
  color: white;
}

.fa-file-medical {
  color: white;
}

/* --- HIERARCHY ---*/
.tree {
    transform-origin: 50%;
}

.tree ul {
  position: relative;
	padding: 1em 0; 
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}

.tree ul::after {
    content: '';
    display: table;
    clear: both;
}

.tree li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
	list-style-type: none;
	position: relative;
	padding: 1em .5em 0 .5em;
}

.tree li::before,
.tree li::after {
  content: '';
  position: absolute; 
  top: 0; 
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; 
  height: 1em;
}

.tree li::after {
  right: auto; 
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after{
  border-radius: 5px 0 0 0;
}

.tree ul ul::before{
	content: '';
	position: absolute; 
  top: 0; 
  left: 50%;
	border-left: 1px solid #ccc;
	width: 0; 
  height: 1em;
}

.tree li p {
	border: 1px solid #ccc;
	padding: .5em .75em;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
  color: #333;
  position: relative;
  top: 1px;
  margin: 0;
  line-height : 20px;
}

.tree li .turi{
  background-color: rgb(176, 203, 252);
}

.job-title{
	color: rgb(0, 19, 126);
  font-size: 70%;
  font-weight:600;
  padding: 0;
  margin: 0;
}

.count-employees{
  float: right;
  font-size: 80%;
  color: white;
  background-color:rgb(28, 102, 240);
  border-radius: 50px;
  padding: 0 6px;
}

.tree li p:hover,
.tree li p:hover+ul li p {
	background: cornflowerblue;
  color: #fff;
  border: 1px solid cornflowerblue;
}

.tree li p:hover + ul li::after, 
.tree li p:hover + ul li::before, 
.tree li p:hover + ul::before, 
.tree li p:hover + ul ul::before{
	border-color:  cornflowerblue;
}


/* --- KNOWLEDGE BASE STRUCTURE ---*/
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

/* for dropdown triangle (rotates on click) */
/* .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);  
} */

.nested {
  display: none;
}

.active {
  display: block;
}

/*** --- INVENTORY SYSTEM --- ***/
.inventory-table-box {
  margin:0 50px;
}

.users-inventory-show {
  background-color: rgb(199, 228, 230);
  margin: 3% 15%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  min-width: 426px;
}

.users-inventory-show img {
  height: 200px;
  margin: 20px 0;
  border-radius: 10px;
}

/*** --- DEPARTMENT AND EMPLOYEES MANAGEMENT --- ***/
.department-table {
  margin: 2% 25% 2% 25%;
  text-align: center;
}

/*** --- LOGIN --- ***/
.login-box {
  background-color: rgb(252, 252, 252);     
  border-radius: 10px;
  box-shadow: 0 4px 30px 5px rgba(85, 191, 253, 0.205);
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  max-width: 550px;
}

/*** --- EMAIL --- ***/
.email-box {
  background-color: #f2fffd;
  margin: 3% 15%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  min-width: 426px;
}

  /***-----RESOLUTIONS-----***/
  /* On screens that are less than 700px wide, make the sidebar into a topbar */

  @media screen and (max-width: 1300px) {
    .department-table {
      margin: 4% 20% 2% 20%;
    }
    .page-card {
      min-width:300px;
    }
  }

  @media screen and (max-width: 1000px) {
    .department-table {
      margin: 4% 15% 2% 15%;
    }
    .search-form {
      margin-left: 0;
    }
    .page-card {
      min-width:250px;
    }
    .inventory-table-box {
      margin: 0;
    }
    .users-inventory-show {
      margin: 4% 8%;
    }
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    .content {margin-left: 0;}
    .centeredToContent {
        margin-left: 0px;
        margin: 0%;
    }
    .narrowContent {
        margin: 0% 2% 2% 2%;     
    }
    .account-dropdown {
      margin-right: 4%;
    }
    .department-table {
      margin: 4% 10% 2% 10%;
    }
    .account-dropdown .account-menu {
      right: 3%;
    }
    .header {
      padding-left: 0;
    }
    .page-card {
      min-width:400px;
    }
    .users-inventory-show {
      margin: 4% 4%;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }

    .department-table {
      margin: 4% 4% 2% 4%;
    }
  }

