{% extends 'nav.html.twig' %}

{% block body %}
<div class="content" style="padding-top:50px; overflow: auto; height: 100vh;">

    <a class="abutton" href="{{ path('department_new') }}">Pridėti naują įmonę</a>
    <a class="abutton" href="{{ path('department_index') }}">Peržiūrėti įmonių sąrašą</a>

    <h1 class="centered">Darbuotojų valdymas</h1> 

    {% for message in app.flashes('role_content') %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %} 

    {% for message in app.flashes('role_inventory') %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for message in app.flashes('role_admin') %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for message in app.flashes('role_user') %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <table class="table" id="pagination_table">
        <thead>
            <tr>
                <th>Prisijungimo vardas</th>
                <th>Vardas Pavardė</th>
                <th>El. paštas</th>
                <th>Įmonė</th>
                <th>Rolė</th>
                <th>Keisti rolę</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user != app.user %}
            <tr style="vertical-align: middle;">
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.department }}</td>
                <td style="max-width:100px;">
                    {% set break = false %}
                    {% for role in user.getRoles %}
                        {% if not break %}
                            {% if role == 'ROLE_ADMIN' %}
                                <span style="text-decoration-line: underline;"></span><span>Administratorius</span>
                                {% set break = true %}   
                            {% elseif role == 'ROLE_CONTENT' %}
                                <span style="text-decoration-line: underline;"></span><span>Už turinį atsakingas asmuo</span>
                                {% set break = true %}                      
                            {% elseif role == 'ROLE_INVENTORY' %}
                                <span style="text-decoration-line: underline;"></span><span>Už inventorizacijos sistemą atsakingas asmuo</span>
                                {% set break = true %}
                            {% else %}
                                <span style="text-decoration-line: underline;"></span><span>Darbuotojas</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                        
                    <form class="float-left" action="{{ path('role_content', {id: user.id}) }}" method="post" id="comment">
                        <button class="abutton" type="submit" data-toggle="tooltip" data-placement="top" title="Užturinį atsakingas darbuotojas"><i class="fas fa-user-edit"></i></button>
                        
                    </form>

                    <form class="float-left" action="{{ path('role_inventory', {id: user.id}) }}" method="post" id="comment">
                        <button class="abutton" type="submit" data-toggle="tooltip" data-placement="top" title="Už inventorių atsakingas darbuotojas"><i class="fas fa-tools"></i></button>
                    </form>

                    <form class="float-left" action="{{ path('role_admin', {id: user.id}) }}" method="post" id="comment">
                        <button class="abutton" type="submit" data-toggle="tooltip" data-placement="top" title="Administratorius"><i class="fas fa-user-shield"></i></button>
                    </form>

                    <form class="float-left" action="{{ path('role_user', {id: user.id}) }}" method="post" id="comment">
                        <button class="abutton" type="submit" data-toggle="tooltip" data-placement="top" title="Darbuotojas"><i class="far fa-user"></i></button>
                    </form>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="9">Nebuvo rasta darbuotojų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# for paginationable tables with search #}
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#pagination_table').DataTable( 
            {
            "language": {
                "emptyTable": "Lentelėje nėra duomenų",
                "info": "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "infoEmpty": "Rodomi įrašai nuo 0 iki 0 iš 0",
                "infoFiltered": "(atrinkta iš _MAX_ įrašų)",
                "infoThousands": " ",
                "lengthMenu": "Rodyti _MENU_ įrašus",
                "loadingRecords": "Įkeliama...",
                "processing": "Apdorojama...",
                "search": "Ieškoti:",
                "thousands": " ",
                "zeroRecords": "Įrašų nerasta",
                "paginate": {
                    "first": "Pirmas",
                    "previous": "Ankstesnis",
                    "next": "Tolimesnis",
                    "last": "Paskutinis"
                },
                "searchPlaceholder": "Ieškoti"
            }
        }
        );
    } );
</script>
{% endblock %}