{{ form_start(form) }}
    {{ form_label(form.comment, 'Komentaras') }}
    {{ form_widget(form.comment, { 'attr' : { 'class': 'form-control' } }) }}

    <button class="abutton">{{ button_label|default('Pašalinti') }}</button>
{{ form_end(form) }}