{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content" style="overflow: auto; height: 100vh;">
        <h1 class="centered">Grąžintas inventorius</h1>

        <table class="table" id="pagination_table">
            <thead>
                <tr>
                    <th>Darbuotojas</th>
                    <th>Inventorius</th>
                    <th>Unikalus kodas</th>
                    <th>Išdavimo data</th>
                    <th>Grąžinimo data</th>
                    <th>Komentaras</th>
                    {# <th>actions</th> #}
                </tr>
            </thead>
            <tbody>
            {% for users_inventory_log in users_inventory_logs %}
                <tr style="vertical-align: middle;">
                    <td>{{ users_inventory_log.firstLastName }}</td>
                    <td>{{ users_inventory_log.inventoryTitle }}</td>
                    <td>{{ users_inventory_log.uniqueCode }}</td>
                    <td>{{ users_inventory_log.assignmentDate ? users_inventory_log.assignmentDate|date('Y-m-d H:i') : '' }}</td>
                    <td>{{ users_inventory_log.returnDate ? users_inventory_log.returnDate|date('Y-m-d H:i') : '' }}</td>
                    <td style="max-width: 250px;">{{ users_inventory_log.comment }}</td>
                    {# <td>
                        <a href="{{ path('users_inventory_log_show', {'id': users_inventory_log.id}) }}">show</a>
                    </td> #}
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Nėra grąžinto inventoriaus</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="abutton" href="{{ path('inventory_index') }}">Į inventorizacijos sistemą</a>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{# for paginationable tables with search #}
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#pagination_table').DataTable( 
            {
            "language": {
                "emptyTable": "Lentelėje nėra duomenų",
                "info": "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "infoEmpty": "Rodomi įrašai nuo 0 iki 0 iš 0",
                "infoFiltered": "(atrinkta iš _MAX_ įrašų)",
                "infoThousands": " ",
                "lengthMenu": "Rodyti _MENU_ įrašus",
                "loadingRecords": "Įkeliama...",
                "processing": "Apdorojama...",
                "search": "Ieškoti:",
                "thousands": " ",
                "zeroRecords": "Įrašų nerasta",
                "paginate": {
                    "first": "Pirmas",
                    "previous": "Ankstesnis",
                    "next": "Tolimesnis",
                    "last": "Paskutinis"
                },
                "searchPlaceholder": "Ieškoti"
            }
        }
        );
    } );
</script>
{% endblock %}
