{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered" style="padding-bottom:20px;">Inventoriaus priskyrimo pašalinimas</h1>

            {{ include('users_inventory_log/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
