{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="centered">UsersInventoryLog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ users_inventory_log.id }}</td>
            </tr>
            <tr>
                <th>FirstLastName</th>
                <td>{{ users_inventory_log.firstLastName }}</td>
            </tr>
            <tr>
                <th>InventoryTitle</th>
                <td>{{ users_inventory_log.inventoryTitle }}</td>
            </tr>
            <tr>
                <th>UniqueCode</th>
                <td>{{ users_inventory_log.uniqueCode }}</td>
            </tr>
            <tr>
                <th>AssignmentDate</th>
                <td>{{ users_inventory_log.assignmentDate ? users_inventory_log.assignmentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ReturnDate</th>
                <td>{{ users_inventory_log.returnDate ? users_inventory_log.returnDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ users_inventory_log.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users_inventory_log_index') }}">back to list</a>

{% endblock %}
