{{ form_start(form) }}

    {{ form_row(form.pavadinimas, { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.turinys, { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.nuotrauka, { 'attr' : { 'class': 'form-control'} }) }}

    <button class="abutton">{{ button_label|default('Pridėti') }}</button>

{{ form_end(form) }}