{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Redaguoti naujieną</h1>

            {{ include('news/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

            <a class="abutton" href="{{ path('news_index') }}">Grįžti į naujienų sąrašą</a>

            {# {{ include('news/_delete_form.html.twig') }} #}
        </div>
    </div>
{% endblock %}
