{% extends 'nav.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  
{% endblock %}

{% block body %}
    <div class="content">   
        <div class="narrowContent">     
            <h1 class="centered">NAUJIENOS</h1>  

            {# test to send email #}
            {# <a class="narrowContent" class="narrowContent" href="{{ path('send_email') }}">Send email</a> #}

            {% if posts is defined %}
                {% for post in posts %}
                    {{post}}
                {% endfor %}
            {% endif %}

            {% for message in app.flashes('news_added') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('news_unfollowed') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('news_followed') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('news_search') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}  

            {% for message in app.flashes('news_unvisible') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('news_visible') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('filter_by_date_success') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}


            {% for message in app.flashes('filter_by_date_failed') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div>{{ message|raw }}</div>     
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            

            <form class="float-right" action="{{ path('news_filter_by_date') }}" method="post">
                <input style="display:inline; width:150px;" class="form-control" type="date" name="dateFrom" value="<?php echo date('Y-m-d'); ?>" max="{{ 'now'|date('Y-m-d') }}" />
                <input style="display:inline; width:150px;" class="form-control" type="date" name="dateTo" value="<?php echo date('Y-m-d'); ?>" max="{{ 'now'|date('Y-m-d') }}" />
                <button class="abutton" type="submit">Filtruoti naujienas</button>
            </form>      
            
        </div>
        
        {% set userRole = '' %}
        {# to add new news #}
        {% for role in app.user.getRoles %}
            {% if role == 'ROLE_CONTENT' %}
                {% set userRole = 'ROLE_CONTENT' %}
                <a class="narrowContent" class="narrowContent" href="{{ path('news_new') }}"><i class="fas fa-plus-circle"></i></a>
            {% endif %}
        {% endfor %}

        {% if userRole == '' %}
            <h1>&nbsp;</h1>
        {% endif %}
        
        {% for new in news|reverse %}

            {% if userRole == 'ROLE_CONTENT' %}
                {% if new.isVisible %}
                    <div class="card">
                {% else %}
                    <div class="card_unvisible">
                {% endif %}

                    {% if not new.isVisible %}
                        <div class="unvisible_text">
                            <h4 style="display:inline;">Naujiena yra paslėpta</h4>
                            <i class="fas fa-arrow-down float-right"></i>
                        </div>
                    {% endif %}

                    <div style="display:inline;">
                        <h2 style="display:inline;">{{ new.pavadinimas }}</h2>   

                        {% if new.isVisible %}
                            <form class="float-right" action="{{ path('unvisible_news', {id: new.id}) }}" method="post">
                                <button class="headerbutton fas fa-eye" type="submit" data-toggle="tooltip" data-placement="top" title="Paslėpti naujieną"></button>
                            </form>
                        {% else %}
                            <form class="float-right" action="{{ path('visible_news', {id: new.id}) }}" method="post">
                                <button class="headerbutton far fa-eye-slash" type="submit" data-toggle="tooltip" data-placement="top" title="Padaryti naujieną matomą"></button>
                            </form>
                        {% endif %}

                        {# for news edit button #}
                        {% for role in app.user.getRoles %}
                            {% if role == 'ROLE_CONTENT' %}
                                <a class="float-right" href="{{ path('news_edit', {'id': new.id}) }}"><i class="fas fa-cog"></i></a>
                            {% endif %}
                        {% endfor %}

                        {# for follow button #}
                        {% set isFollowed = false %}
                        {% set break = false %}
                        {% for follower in followers %}
                            {% if not break %}
                                {% if follower.user == app.user and follower.news == new %} 
                                    {% set isFollowed = true %}
                                    {% set break = true %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if isFollowed %} {#jau yra naujienos sekeju sarase, pilna zvaigzdute#}
                            <form class="float-right" action="{{ path('get_notifications', {id: new.id}) }}" method="post">
                                <button class="headerbutton fas fa-star" style="color:rgb(236, 81, 90);" type="submit" data-toggle="tooltip" data-placement="top" title="Nebegauti pranešimų apie naujus komentarus"></button>
                            </form>
                        {% else %} {# nera naujienos sekeju sarase, tuscia zvaigzdute #}
                            <form class="float-right" action="{{ path('get_notifications', {id: new.id}) }}" method="post">
                                <button class="headerbutton far fa-star" style="color:rgb(236, 81, 90);" type="submit" data-toggle="tooltip" data-placement="top" title="Gauti pranešimus apie naujus komentarus"></button>
                            </form>
                        {% endif %}                 

                    </div>

                    
                    <div>
                        <h5 style="display:inline; float:left;"><i class="far fa-edit" style="color:rgb(107, 107, 107);"></i>&nbsp;{{ new.data|date('Y-m-d H:i') }}</h5>
                        {% if new.data|date('Y-m-d H:i')  != new.dateEdit|date('Y-m-d H:i') %}
                            <h6 style="display:inline; float:right; color: rgb(107, 107, 107);">Redaguota ({{ new.dateEdit|date('Y-m-d H:i') }})</h6>
                        {% endif %}
                    </div> 
                    {% if not new.isVisible %}
                        <h5>&nbsp;</h5>
                    {% endif %}

                    {% if new.nuotrauka != '' %}
                    <div class="news-photo-wrap" style="margin-bottom:5px;">
                        <img src="{{ asset( 'news_photos/' ~ new.nuotrauka) }}">
                    </div>
                    
                    {% endif %}

                    <div class="news-content-wrap">
                        <p>{{ new.turinys }}</p>  
                    </div>

                    <div class="centered">
                        <a class="read-more-button" href="{{ path('news_show', {'id': new.id}) }}">Skaityti daugiau</a>
                    </div> 
            
                    <hr style="margin:10px 1px;">

                    {% if new.getComments|length == 0 %}
                        <a href="{{ path('news_show', {'id': new.id}) }}">Komentarų nėra</a>
                    {% else %}
                        <a href="{{ path('news_show', {'id': new.id}) }}">Komentarai ({{ new.getComments|length }})</a>
                    {% endif %}
                </div>

            {% else %}
                {% if new.isVisible %}                    
                    <div class="card">
                        <div style="display:inline;">
                            <h2 style="display:inline;">{{ new.pavadinimas }}</h2>   

                            {# for follow button #}
                            {% set isFollowed = false %}
                            {% set break = false %}
                            {% for follower in followers %}
                                {% if not break %}
                                    {% if follower.user == app.user and follower.news == new %} 
                                        {% set isFollowed = true %}
                                        {% set break = true %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if isFollowed %} {#jau yra naujienos sekeju sarase, pilna zvaigzdute#}
                                <form class="float-right" action="{{ path('get_notifications', {id: new.id}) }}" method="post">
                                    <button class="headerbutton fas fa-star" style="color:rgb(236, 81, 90);" type="submit" data-toggle="tooltip" data-placement="top" title="Nebegauti pranešimų apie naujus komentarus"></button>
                                </form>
                            {% else %} {# nera naujienos sekeju sarase, tuscia zvaigzdute #}
                                <form class="float-right" action="{{ path('get_notifications', {id: new.id}) }}" method="post">
                                    <button class="headerbutton far fa-star" style="color:rgb(236, 81, 90);" type="submit" data-toggle="tooltip" data-placement="top" title="Gauti pranešimus apie naujus komentarus"></button>
                                </form>
                            {% endif %}                
                        </div>

                        <div>
                            <h5 style="display:inline; float:left;"><i class="far fa-edit" style="color:rgb(107, 107, 107);"></i>&nbsp;{{ new.data|date('Y-m-d H:i') }}</h5>
                            {% if new.data|date('Y-m-d H:i')  != new.dateEdit|date('Y-m-d H:i') %}
                                <h6 style="display:inline; float:right; color: rgb(107, 107, 107);">Redaguota ({{ new.dateEdit|date('Y-m-d H:i') }})</h6>
                            {% endif %}
                        </div> 

                        {% if new.nuotrauka != '' %}
                        <div class="news-photo-wrap" style="margin-bottom:5px;">
                            <img src="{{ asset( 'news_photos/' ~ new.nuotrauka) }}">
                        </div>
                        {% endif %}

                        <div class="news-content-wrap">
                            <p>{{ new.turinys }}</p>  
                        </div>

                        <div class="centered">
                            <a class="read-more-button" href="{{ path('news_show', {'id': new.id}) }}">Skaityti daugiau</a>
                        </div>
                
                        <hr style="margin:10px 1px;">

                        {% if new.getComments|length == 0 %}
                            <a href="{{ path('news_show', {'id': new.id}) }}">Komentarų nėra</a>
                        {% else %}
                            <a href="{{ path('news_show', {'id': new.id}) }}">Komentarai ({{ new.getComments|length }})</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}


        {% else %}
            <div class="narrowContent"> 
                <h4>Nėra egzistuojančių naujienų</h4>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/news_show.js') }}" type="text/javascript"></script>

    <script src="{{ asset('js/trix.js') }}" type="text/javascript"></script>
{% endblock %}
