{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Sukurti naujieną</h1>

            {{ include('news/_form.html.twig') }}

            <a class="abutton" href="{{ path('news_index') }}">Grįžti į naujienų sąrašą</a>
        </div>
    </div>
{% endblock %}
