{% extends 'nav.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  
{% endblock %}

{% block body %}
    <div class="content"> 

        <div class="narrowContent" style="margin-top:10px;"> 
            {% for message in app.flashes('news_edited') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('news_unfollowed') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('news_followed') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('comment_added') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('comment_deleted') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('news_unvisible') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('news_visible') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>


        {% if news.isVisible %}
            <div class="card" style="margin-top:10px;">
        {% else %}
            <div class="card_unvisible" style="margin-top:10px;">
        {% endif %}

            {% if not news.isVisible %}
                <div class="unvisible_text">
                    <h4 style="display:inline;">Naujiena yra paslėpta</h4>
                    <i class="fas fa-arrow-down float-right"></i>
                </div>
            {% endif %}

            <div style="display:inline;">
                <h2 style="display:inline;">{{ news.pavadinimas }}</h2>   


                {% for role in app.user.getRoles %}
                    {% if role == 'ROLE_CONTENT' %}
                        {% if news.isVisible %}
                            <form class="float-right" action="{{ path('unvisible_news', {id: news.id}) }}" method="post">
                                <button class="headerbutton fas fa-eye" type="submit" data-toggle="tooltip" data-placement="top" title="Paslėpti naujieną"></button>
                            </form>
                        {% else %}
                            <form class="float-right" action="{{ path('visible_news', {id: news.id}) }}" method="post">
                                <button class="headerbutton far fa-eye-slash" type="submit" data-toggle="tooltip" data-placement="top" title="Padaryti naujieną matomą"></button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {# for news edit button #}
                {% for role in app.user.getRoles %}
                    {% if role == 'ROLE_CONTENT' %}
                        <a class="float-right" href="{{ path('news_edit', {'id': news.id}) }}"><i class="fas fa-cog"></i></a>
                    {% endif %}
                {% endfor %}

                {# for follow button #}
                {% set isFollowed = false %}
                {% set break = false %}
                {% for follower in followers %}
                    {% if not break %}
                        {% if follower.user == app.user and follower.news == news %} 
                            {% set isFollowed = true %}
                            {% set break = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if isFollowed %} {#jau yra naujienos sekeju sarase, pilna zvaigzdute#}
                    <form class="float-right" action="{{ path('get_notifications', {id: news.id}) }}" method="post">
                        <button class="headerbutton fas fa-star" style="color:rgb(236, 81, 90);" type="submit" data-toggle="tooltip" data-placement="top" title="Gauti pranešimus apie naujus komentarus"></button>
                    </form>
                {% else %} {# nera naujienos sekeju sarase, tuscia zvaigzdute #}
                    <form class="float-right" action="{{ path('get_notifications', {id: news.id}) }}" method="post">
                        <button class="headerbutton far fa-star" style="color:rgb(236, 81, 90);" type="submit" data-toggle="tooltip" data-placement="top" title="Gauti pranešimus apie naujus komentarus"></button>
                    </form>
                {% endif %}                 

            </div>

            <div>
                <h5 style="display:inline; float:left;"><i class="far fa-edit" style="color:rgb(107, 107, 107);"></i>&nbsp;{{ news.data|date('Y-m-d H:i') }}</h5>
                {% if news.data|date('Y-m-d H:i')  != news.dateEdit|date('Y-m-d H:i') %}
                    <h6 style="display:inline; float:right; color: rgb(107, 107, 107);">Redaguota ({{ news.dateEdit|date('Y-m-d H:i') }})</h6>
                {% endif %}
            </div> 

            {% if not news.isVisible %}
                <h5>&nbsp;</h5>
            {% endif %}

            {% if news.nuotrauka != '' %}
            <div class="news-photo">
                <img src="{{ asset( 'news_photos/' ~ news.nuotrauka) }}">
            </div>
            {% endif %}

            <div class="news-content-all">
                <p>{{ news.turinys }}</p>  
            </div>

             
       
            <hr>

            {# Naujo komentaro pridejimo forma #}
            <div class="new-comment-box">
                <div class="comment-content">
                    <form action="{{ path('add_comment', {id: news.id}) }}" method="post" id="comment">
                        <div>
                            <textarea name="comment" rows="2" placeholder=" Rašykite komentarą čia..." required></textarea> 
                        </div>
                        <button class="abutton" type="submit">Rašyti komentarą</button>
                    </form>
                </div>
            </div>

            {% if news.getComments|length == 0 %}
                <h4>Komentarų nėra</h4>
            {% else %}
                <h4>Komentarai ({{ news.getComments|length }})</h4>
            {% endif %}
            <div class="all-comments">
            {% for comment in news.getComments %}
                <div class="comment-box">
                    <div class="commentator-image">
                        {% if comment.user.nuotrauka == '' %}
                            <img src="{{ asset( 'user_photos/user-blank-photo.png') }}">
                        {% else %}
                            <img src="{{ asset( 'user_photos/' ~ comment.user.nuotrauka) }}">
                        {% endif %}
                    </div>                    
                    <div class="comment-info">
                        <strong>{{ comment.user }}</strong>  <span>{{ comment.data|date('Y-m-d H:i', timezone="Europe/Paris") }}</span> 
                        <div class="comment-delete">
                            {% for role in app.user.getRoles %}
                                {% if role == 'ROLE_CONTENT' and comment.user != app.user.username %} {# if logged in as content(also admin) role #}                     
                                    {{ include('comment/_delete_form.html.twig') }}                    
                                {% endif %}
                            {% endfor %} 
                        </div>
                    </div>
                    <div class="comment-content">
                        {{ comment.turinys }} 
                    </div>                     
                </div>
            {% endfor %}
            </div>

        </div>


        {# <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ news.id }}</td>
                </tr>
                <tr>
                    <th>Pavadinimas</th>
                    <td>{{ news.pavadinimas }}</td>
                </tr>
                <tr>
                    <th>Data</th>
                    <td>{{ news.data ? news.data|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Turinys</th>
                    <td>{{ news.turinys }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('news_index') }}">back to list</a>

        <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>

        {{ include('news/_delete_form.html.twig') }} #}

    </div>
{% endblock %}
