<form style="display:inline;" method="post" action="{{ path('department_delete', {'id': department.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti pasirinktą įmonę?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.id) }}">
    <button class="editbutton" class="btn">Pašalinti</button>
</form>
