{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Redaguoti įmonę</h1>

            {{ include('department/_form.html.twig', {'button_label': 'Atnaujinti'}) }}
            {{ include('department/_delete_form.html.twig') }}
            
        </div>
    </div>
{% endblock %}
