{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <h1 class="centered">Įmonės</h1>

        
        
        <div class="department-table">

            <a style="margin-bottom:10px" class="abutton" href="{{ path('department_new') }}">Pridėti naują</a>
            <a class="abutton" href="{{ path('knowledge') }}">Į dokumentų bazę</a>

            {% for message in app.flashes('success_add') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %} 

            {% for message in app.flashes('department_edited') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}      

            {% for message in app.flashes('success_delete') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}


            {% set parent_flashes = [] %}
            {% set parent_flashes = parent_flashes|merge(app.flashes('its_parent')) %}    

            {% if parent_flashes|length != 0 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for flash in parent_flashes %}
                    <div>{{ flash|raw }}</div>   
                {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}


            <table class="table">
                <thead>
                    <tr>                
                        <th>Pavadinimas</th>
                        <th>Veiksmai</th>
                    </tr>
                </thead>
                <tbody>
                {% for department in departments %}
                    {% if department.pavadinimas != "Įmonių grupė" %}
                        <tr>
                            <td>{{ department.pavadinimas }}</td>
                            <td>
                                <a class="editbutton" href="{{ path('department_edit', {'id': department.id}) }}">Redaguoti</a>
                                {{ include('department/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endif %}                    
                {% else %}
                    <tr>
                        <td colspan="3">Nebuvo rasta pridėtų įmonių</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js') }}" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% endblock %}