{% extends 'nav.html.twig' %}


{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Pridėti naują įmonę</h1>

            {{ include('department/_form.html.twig') }}
            {# {{ include('department/index.html.twig') }} #}

            <a class="abutton" href="{{ path('department_index') }}">Peržiūrėti įmonių sąrašą</a>            
        </div>
    </div>
{% endblock %}
