{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
    <h1>Department</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ department.pavadinimas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_index') }}">back to list</a>

    <a href="{{ path('department_edit', {'id': department.id}) }}">edit</a>

    {{ include('department/_delete_form.html.twig') }}
{% endblock %}
