<div class="email-box">
    <h3>Sveiki, {{ follower_name }}.</h3>
    <h4>Prie jūsų pasektos naujienos pavadinimu, <strong>{{ news.pavadinimas }}</strong>, darbuotojas, <strong>{{ commentator_name }}</strong>, patalpino naują komentarą.</h4>
</div>