<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Document Management System{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
            
            <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css') }}" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">       
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            
            <link rel="stylesheet" href="{{ asset('https://www.w3schools.com/w3css/4/w3.css') }}"> 
            <link rel="stylesheet" href="{{ asset('https://use.fontawesome.com/releases/v5.15.3/css/all.css') }}"> 
            <link rel="stylesheet" href="{{ asset('https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css') }}">
            {# <link href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> #}

            <link type="text/css" rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700') }}">   

            <link rel="stylesheet" href="{{ asset('css/trix.css') }}">

            <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet">
            
        {% endblock %}

    </head>
    <body>
        <div class="header">
            <div class="narrowContent">
                {# SEARCH IN NEWS #}
                <form action="{{ path('news_search') }}" method="post" class="inlineblock centered search-form">
                    <div class="searchbar">
                        <input type="text" name="search_string" required placeholder="Ieškoti..." oninvalid="this.setCustomValidity('Paieškos laukas negali būti tuščias')" oninput="this.setCustomValidity('')"/>      

                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>

                {# <a href="{{ path('app_logout') }}" class="float-right" style="color:rgb(226, 111, 111)">Atsijungti</a> #}
                <button class="headerbutton" type="submit"><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a></button>
                <button class="headerbutton" onClick="menuToggle();" type="submit"><i class="fas fa-user-circle"></i></button>
                <a class="float-right" style="color:white">{{ app.user.username }}</a>                    
            </div>          
        </div>

        {# User account dropdown #}
        <div class="account-dropdown">
            <div class="account-menu">
                <div class="account-photo">
                    {% if app.user.nuotrauka == '' %}
                        <img src="{{ asset( 'user_photos/user-blank-photo.png') }}">
                    {% else %}
                        <img src="{{ asset( 'user_photos/' ~ app.user.nuotrauka) }}">
                    {% endif %}                    
                </div>
                <div class="edit-account-photo">
                    <a href="{{ path('user_edit', {'id': app.user.id}) }}">Pakeisti nuotrauką</a>
                </div>                
                <h3>      
                    <span class="account-first-last-name">{{ app.user }}</span>              
                    <br>
                    {% set break = false %}
                    {% for role in app.user.getRoles %}
                        {% if not break %}
                            {% if role == 'ROLE_ADMIN' %}
                                <span style="text-decoration-line: underline;">Prisijungta kaip:</span><br><span>Administratorius</span>
                                {% set break = true %}   
                            {% elseif role == 'ROLE_CONTENT' %}
                                <span style="text-decoration-line: underline;">Prisijungta kaip:</span><br><span>Už turinį atsakingas asmuo</span>
                                {% set break = true %}                      
                            {% elseif role == 'ROLE_INVENTORY' %}
                                <span style="text-decoration-line: underline;">Prisijungta kaip:</span><br><span>Už inventorių atsakingas asmuo</span>
                                {% set break = true %}
                            {% else %}
                                <span style="text-decoration-line: underline;">Prisijungta kaip:</span><br><span>Darbuotojas</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}  
                    <br>

                    {% set break = false %}
                    {% for role in app.user.getRoles %}
                        {% if not break %}
                            {% if role == 'ROLE_ADMIN' %}
                                {% if app.user.department == '' %}
                                    <span style="text-decoration-line: underline;">Įmonė:</span><span>  Įmonių grupė</span>
                                    {% set break = true %} 
                                {% else %}
                                    <span style="text-decoration-line: underline;">Įmonė:</span><span>  {{ app.user.department }}</span>
                                    {% set break = true %}  
                                {% endif %}   
                            {% elseif role == 'ROLE_CONTENT' %}
                                {% if app.user.department == '' %}
                                    <span style="text-decoration-line: underline;">Įmonė:</span><span>  Įmonių grupė</span>
                                    {% set break = true %} 
                                {% else %}
                                    <span style="text-decoration-line: underline;">Įmonė:</span><span>  {{ app.user.department }}</span>
                                    {% set break = true %}  
                                {% endif %} 
                            {% elseif role == 'ROLE_INVENTORY' %}
                                {% if app.user.department == '' %}
                                    <span style="text-decoration-line: underline;">Įmonė:</span><span>  Įmonių grupė</span>
                                    {% set break = true %} 
                                {% else %}
                                    <span style="text-decoration-line: underline;">Įmonė:</span><span>  {{ app.user.department }}</span>
                                    {% set break = true %}  
                                {% endif %}                
                            {% elseif role == 'ROLE_USER' %}
                                {% if app.user.department == '' %}
                                    <span style="text-decoration-line: underline;">Įmonė:</span><span>  Įmonių grupė</span>
                                    {% set break = true %} 
                                {% else %}
                                    <span style="text-decoration-line: underline;">Įmonė:</span><span>  {{ app.user.department }}</span>
                                    {% set break = true %}  
                                {% endif %}                             
                            {% endif %}
                        {% endif %}
                    {% endfor %} 

                </h3>
                <ul>
                    {# <li><i class="fas fa-user-circle account-icon"></i><a href="#">Profilis</a></li> #}
                    <li><i class="fas fa-sign-out-alt account-icon"></i><a href="{{ path('app_logout') }}">Atsijungti</a></li>
                </ul>
            </div>
        </div> 

        <!-- The sidebar -->
        <div class="sidebar">
            <ul>
                <li><a href="{{ path('news_index') }}">Naujienos</a></li>
                <li><a href="{{ path('page_index') }}">Puslapiai</a>
                    <div class="sub-menu-pages">
                        <ul>
                            {% block submenu_pages %}
                                {# {% for page in pages %}
                                    <li><a href="{{ path('page_show', {'id': page.id}) }}">{{ page.pavadinimas }}</a></li>
                                {% endfor %} #}
                            {% endblock %}
                        </ul>
                    </div>                
                </li>
                <li><a href="{{ path('knowledge') }}">Dokumentų bazė</a></li>

                <li><a href="{{ path('hierarchy') }}">Darbuotojų hierarchija</a></li> 

                {% set break = false %}
                {% for role in app.user.getRoles %}
                    {% if not break %}
                        {% if role == 'ROLE_INVENTORY' %}
                            <li><a href="{{ path('inventory_index') }}">Inventorizacijos sistema</a></li>
                            {% set break = true %}                         
                        {% elseif role != 'ROLE_INVENTORY' and role != 'ROLE_CONTENT' and role != 'ROLE_ADMIN' %}
                            <li><a href="{{ path('inventory_index') }}">Mano inventorius</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}   

                <li><a href="{{ path('user_show', { 'id' : app.user.id }) }}">Mano profilis</a></li>           

                {% for role in app.user.getRoles %}
                    {% if role == 'ROLE_ADMIN' %}
                        <li><a href="{{ path('admin') }}">Įmonių valdymas</a></li> 
                    {% endif %}
                {% endfor %}                              
            </ul>
        </div>
        {% block body %}
   
        {% endblock %}

        {% block javascripts %}
            

            <script type="text/javascript" src="{{ asset('https://code.jquery.com/jquery-3.6.0.min.js') }}"></script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>

            <script>
                function menuToggle(){
                    const toggleMenu = document.querySelector('.account-menu');
                    toggleMenu.classList.toggle('active'); //paspaudus pridedam/nuimam css klase active
                }
            </script>

            <script src="{{ asset('js/trix.js') }}" type="text/javascript"></script>

            <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js') }}" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>