{% extends 'nav.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  
{% endblock %}

{% block body %}
    <div class="content">   
        <div class="narrowContent">     

            {% for message in app.flashes('news_search') %}
                <div class="alert alert-info alert-dismissible fade show" style="margin: 2% 8% 2% 6%;" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %} 

            {% set userRole = '' %}
            {% for role in app.user.getRoles %}
                {% if role == 'ROLE_CONTENT' %}
                    {% set userRole = 'ROLE_CONTENT' %}
                {% endif %}
            {% endfor %}
            
            {% for new in news|reverse %}
                {% if userRole == 'ROLE_CONTENT' %}
                    {% if new.isVisible %}
                        <div class="card">
                    {% else %}
                        <div class="card_unvisible">
                    {% endif %}

                        {% if not new.isVisible %}
                            <div class="unvisible_text">
                                <h4 style="display:inline;">Naujiena yra paslėpta</h4>
                            </div>
                        {% endif %}

                        <div style="display:inline;">
                            <h2 style="display:inline;">{{ new.pavadinimas }}</h2>  
                            <i class="far fa-newspaper float-right"></i>                                            
                        </div>
                        <h5>{{ new.data|date('Y-m-d H:i', timezone="Europe/Paris") }}</h5>
                        <div class="centered">
                            <a class="read-more-button" href="{{ path('news_show', {'id': new.id}) }}">Skaityti daugiau</a>                            
                        </div>            
                        <hr style="margin:10px 1px;">

                        {% if new.getComments|length == 0 %}
                            <h4 style="margin:0px;">Komentarų nėra</h4>
                        {% else %}
                            <h4 style="margin:0px;">Komentarai ({{ new.getComments|length }})</h4>
                        {% endif %}
                    </div>
                {% else %}
                    {% if new.isVisible %}
                        <div class="card">
                            <div style="display:inline;">
                                <h2 style="display:inline;">{{ new.pavadinimas }}</h2>  
                                <i class="far fa-newspaper float-right"></i>                
                            </div>
                            <h5>{{ new.data|date('Y-m-d H:i', timezone="Europe/Paris") }}</h5>
                            <div class="centered">
                                <a class="read-more-button" href="{{ path('news_show', {'id': new.id}) }}">Skaityti daugiau</a>
                            </div>                 
                            <hr style="margin:10px 1px;">

                            {% if new.getComments|length == 0 %}
                                <h4 style="margin:0px;">Komentarų nėra</h4>
                            {% else %}
                                <h4 style="margin:0px;">Komentarai ({{ new.getComments|length }})</h4>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if userRole == 'ROLE_CONTENT' %}
                {% if posts is defined %}
                    {% for post in posts|reverse %}
                        <div class="card">
                            <div style="text-align:center;">
                                <h3 class="float-left" style="margin: 0 auto;display: inline-block;overflow: hidden;">{{ post.departmentFolder.department }}</h3> 
                                <h2 style="margin: 0 auto;display: inline-block;overflow: hidden;">{{ post.pavadinimas }}</h2> 
                                <i class="fas fa-file-alt float-right" style="margin-left:10px;"></i>  
                                <h6 class="float-right" style="margin: 0 auto;display: inline-block;overflow: hidden;">{{ post.data|date('Y-m-d') }}</h6>                                          
                            </div>
                            
                            <div class="centered">
                                <a class="read-more-button" href="{{ path('folder_post_show', {'id': post.id}) }}">Skaityti daugiau</a>
                            </div>              
                            
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% if posts is defined %}
                    {% for post in posts|reverse %}
                        {% if post.departmentFolder.department == app.user.department %}
                            <div class="card">
                                <div style="text-align:center;">
                                    <h3 class="float-left" style="margin: 0 auto;display: inline-block;overflow: hidden;">{{ post.departmentFolder.department }}</h3> 
                                    <h2 style="margin: 0 auto;display: inline-block;overflow: hidden;">{{ post.pavadinimas }}</h2>  
                                    <i class="fas fa-file-alt float-right" style="margin-left:10px;"></i> 
                                    <h6 class="float-right" style="margin: 0 auto;display: inline-block;overflow: hidden;">{{ post.data|date('Y-m-d') }}</h6>            
                                </div>
                                
                                <div class="centered">
                                    <a class="read-more-button" href="{{ path('folder_post_show', {'id': post.id}) }}">Skaityti daugiau</a>
                                </div>            
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

            
        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/news_show.js') }}" type="text/javascript"></script>

    <script src="{{ asset('js/trix.js') }}" type="text/javascript"></script>
{% endblock %}
