<form style="display:inline;" method="post" action="{{ path('department_folder_delete', {'id': department_folder.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department_folder.id) }}">
    <button class="editbutton">Ištrinti</button>
</form>
