{{ form_start(form) }}

    {{ form_row(form.pavadinimas, { 'attr' : { 'class': 'form-control' } }) }}

    <button class="abutton">{{ button_label|default('Išsaugoti') }}</button>

{{ form_end(form) }}
