{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Redaguoti aplankalą</h1>

            {{ include('department_folder/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

            {# <a class="abutton" href="{{ path('department_folder_index') }}">Peržiūrėti aplankalų sąrašą</a> #}
            {# <a class="abutton" href="{{ path('knowledge') }}">Į žinių bazę</a> #}

            {{ include('department_folder/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
