{% extends 'nav.html.twig' %}

{% block title %}New DepartmentFolder{% endblock %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Pridėti naują aplankalą</h1>

            {{ include('department_folder/_form.html.twig') }}

            {# <a class="abutton" href="{{ path('department_folder_index') }}">Peržiūrėti aplankalų sąrašą</a> #}
            {# <a class="abutton" href="{{ path('knowledge') }}">Grįžti į žinių bazę</a> #}
        </div>
    </div>
{% endblock %}