{% extends 'base.html.twig' %}

{% block title %}DepartmentFolder{% endblock %}

{% block body %}
    <h1>DepartmentFolder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department_folder.id }}</td>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ department_folder.pavadinimas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_folder_index') }}">back to list</a>

    <a href="{{ path('department_folder_edit', {'id': department_folder.id}) }}">edit</a>

    {{ include('department_folder/_delete_form.html.twig') }}
{% endblock %}
