{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Atnaujinti profilio nuotrauką</h1>
            {{ include('user/_form.html.twig', {'button_label': 'Atnaujinti'}) }}
        </div>
    </div>
{% endblock %}
