{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="users-inventory-show">

            <h1 class="centered">{{ user.firstName }} {{ user.lastName }}</h1>

            <div class="account-photo-profile centered">
                {% if user.nuotrauka == '' %}
                    <img src="{{ asset( 'user_photos/user-blank-photo.png') }}">
                {% else %}
                    <img src="{{ asset( 'user_photos/' ~ user.nuotrauka) }}">
                {% endif %}                    
            </div>

            <div class="inventory-table-box">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Įmonė</th>
                            <td>
                                {% if user.department == '' %}
                                    <span>Įmonių grupė</span>
                                {% else %}
                                    <span>{{ user.department }}</span>
                                {% endif %} 
                            </td>
                        </tr> 
                        <tr>
                            {% if user.manager != '' %}
                            <th>Vadovas</th>
                            <td>                                
                                <span onclick="window.location='{{ path('user_show', { 'id' : user.manager.id }) }}';" style="cursor: pointer;">{{ user.manager }}</span>
                            </td>
                            {% endif %} 
                        </tr> 
                        <tr>
                            {% if user.jobTitle != '' %}
                            <th>Pareigos</th>
                            <td>                                
                                <span>{{ user.jobTitle }}</span>
                            </td>
                            {% endif %} 
                        </tr> 
                        <tr>
                            <th>El. Paštas</th>
                            <td>{{ user.email }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
