<form method="post" action="{{ path('folder_post_delete', {'id': folder_post.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti pasirinktą įrašą?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ folder_post.id) }}">
    <button class="editbutton">Ištrinti</button>
</form>
