{{ form_start(form) }}

    {{ form_row(form.pavadinimas, { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.turinys, { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.nuotraukos, { 'attr' : { 'class': 'form-control' } }) }}
    
    {# {{ form_row(form.failai, { 'attr' : { 'class': 'form-control' } }) }} #}
{# 
    {{ form_label(form.department, 'Padalinys') }}
    {{ form_widget(form.department, { 'attr' : { 'class': 'form-control' } }) }}

    {{ form_label(form.departmentFolder, 'Aplankalas') }}
    {{ form_widget(form.departmentFolder, { 'attr' : { 'class': 'form-control' } }) }} #}

    <button class="abutton">{{ button_label|default('Išsaugoti') }}</button>
{{ form_end(form) }}
