{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Redaguoti įrašą</h1>

            {{ include('folder_post/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

            {# <a class="abutton" href="{{ path('folder_post_index') }}">Peržiūrėti įrašų sąrašą</a> #}
            <a class="abutton" href="{{ path('knowledge') }}">Į žinių bazę</a>

            {# {{ include('folder_post/_delete_form.html.twig') }} #}
        </div>
    </div>
{% endblock %}
