{% extends 'nav.html.twig' %}

{% block title %}FolderPost index{% endblock %}

{% block body %}
    <div class="content">
        <h1 class="centered">Įrašai</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Data</th>
                    <th>Turinys</th>
                    <th>Nuotraukos</th>
                    <th>Failai</th>
                    <th>Padalinys</th>
                    <th>Aplankalas</th>
                    <th>Veiksmai</th>
                </tr>
            </thead>
            <tbody>
            {% for folder_post in folder_posts %}
                <tr>
                    <td>{{ folder_post.pavadinimas }}</td>
                    <td>{{ folder_post.data ? folder_post.data|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ folder_post.turinys }}</td>
                    <td>{{ folder_post.nuotraukos }}</td>
                    <td>{{ folder_post.failai }}</td>                
                    <td>{{ folder_post.departmentFolder.department }}</td>
                    <td>{{ folder_post.departmentFolder }}</td>

                    <td>
                        <a class="editbutton" href="{{ path('folder_post_show', {'id': folder_post.id}) }}">Peržiūrėti</a>
                        <a class="editbutton" href="{{ path('folder_post_edit', {'id': folder_post.id}) }}">Redaguoti</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# <a class="abutton" href="{{ path('folder_post_new') }}">Pridėti naują</a> #}
        <a class="abutton" href="{{ path('knowledge') }}">Grįžti į žinių bazę</a>
    </div>
{% endblock %}