{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent">
            <h1 class="centered">Pridėti naują įrašą</h1>

            {{ include('folder_post/_form.html.twig') }}

            {# <a class="abutton" href="{{ path('folder_post_index') }}">Peržiūrėti įrašų sąrašą</a> #}
            {# <a class="abutton" href="{{ path('knowledge') }}">Grįžti į žinių bazę</a> #}
        </div>
    </div>
{% endblock %}
