{% extends 'nav.html.twig' %}

{% block body %}
    <div class="content">
        <div class="narrowContent page">

            {% for message in app.flashes('post_edited') %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            <h1 class="centered">{{ folder_post.pavadinimas }}</h1>

            <div class="centered">
                {{ folder_post.data ? folder_post.data|date('Y-m-d') : '' }}
            </div>

            {% set break = false %}
            {% set user_role = '' %}
            {% for role in app.user.roles %}
                {% if not break %}
                    {% if role == 'ROLE_CONTENT' %}
                        {% set user_role = 'ROLE_CONTENT' %}
                        {% set break = true %}
                    {% endif %}                    
                {% endif %}
            {% endfor %}

            {% if user_role == 'ROLE_CONTENT' %}
                <a class="editbutton float-left" href="{{ path('folder_post_edit', {'id': folder_post.id}) }}">Redaguoti</a>
                {{ include('folder_post/_delete_form.html.twig') }}
            {% endif %}

            <div>
                {{ folder_post.turinys|raw }}
            <div>

            {% if folder_post.nuotraukos != '' %}
            <div class="centered page-photo">
                <img src="{{ asset( 'knowledge_post_photo/' ~ folder_post.nuotraukos) }}">
            </div>
            {% endif %} 
           
        </div>
    </div>
{% endblock %}
