{% extends 'nav.html.twig' %}

{% block body %}
<div class="content"  style="overflow: auto; height: 100vh;">
    <h1 class="centered">DARBUOTOJŲ HIERARCHIJA</h1>

    <div class="tree">
        <ul>
            {% for key, value in tree %}
            <li>
                    {% for user in users %}
                        {% if user.id == key %}
                            {% if user.getEmployees|length != 0 %}
                                {% set styleClass = 'turi' %}
                            {% else %}
                                {% set styleClass = '' %}
                            {% endif %}
                <p onClick="myFunction({{ key }})" ondblclick="window.location='{{ path('user_show', { 'id' : key }) }}';" class="{{ styleClass }}">
                            {{ user.firstName ~ ' ' ~ user.lastName }}<br>
                            {% if user.jobTitle != '' %}
                                <span class="job-title">{{ user.jobTitle }}</span>
                            {% endif %}
                            {% if user.getEmployees|length != 0 %}
                                &nbsp;<span class="count-employees">{{ user.getEmployees|length }}</span>
                            {% endif %}
                            {% if user.department != '' %}
                                <br><span class="job-title" style="color:#611c21;">{{ user.department }}</span>
                            {% else %}
                                <br><span class="job-title" style="color:#611c21;">Įmonių grupė</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </p><ul id="{{key}}">{% for key, value in value %}{% include 'hierarchy/branch.html.twig' %}{% endfor %}</ul>
            </li>
            
            {% endfor %}
        </ul>
    </div>

</div>

<script>
    function myFunction($var) {
        if (document.getElementById($var).style.display !== "none") {
            document.getElementById($var).style.display = "none";
        } else {
            document.getElementById($var).style.display = "block";
        }
    }
</script>
{% endblock %}
